.navbar{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color:rgb(71, 175, 71);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  height:60px;
  top: 0;
  left:0;
}


.name{
  font-size: 15px;
  font-weight: 600;
  text-align: center;
}

.search{
  display: flex;
  justify-content: center;
  padding-top: 3%;
  transition: 0.4s ease-in-out;
}

.search .button:hover{
   background-color: black;  
   color: white;
   transition: 0.4s ease-in-out;
}

.card{
  padding-top: 2%;
  display: flex;
  justify-content: center;
}
